
@import "./2.scss";
@import "../css/2.css";


$width:500px;
$height:200px;
$bian:1px solid red;
$px:12px 15px 20px;
$color:red yellow,blue green;

h1{
  width: $width;
  height: $height;
  border: $bian;
  font-size: nth($px, 3);
  color:nth(nth($color, 2), 1);
}
